<%= link_to "#stock_edit-item-#{stock.id}", class:"btn btn-sm btn-outline-secondary", "data-toggle": "collapse", role: "button", "aria-expanded": "false", "area-controls": "stock_edit-item-#{stock.id}" , style: "z-index:1;" do %>
  <i class="fas fa-edit"></i>
<% end %>
<div class="collapse position-absolute" id="stock_edit-item-<%= stock.id %>" style="left:-80px; z-index:2;">
  <!--idをボタンごとに変えないと押していないところでも動いてしまう-->
    <div class="card card-body">
      <%= form_with(model: stock, method: :patch,local: true) do |f| %>
        <%= f.hidden_field :food_id %>
      <div class="form-row align-items-baseline">
        <%= f.label :amount, "個数　" %>
        <%= f.number_field :amount , style: "width:50px;" %>
      </div>
      <!--ここから単位-->
      <!--単位終わり-->
      <div class="form-row align-items-baseline">
        <%= f.label :buy_day, "購入日" %>
        <%= f.date_field :buy_day %>
      </div>
      <div class="form-row align-items-baseline">
        <%= f.label :limit, "期限　" %>
        <%= f.date_field :limit %>
      </div>
        <%= f.text_area :memo,placeholder: '備考欄' %>
      <div class="form-row justify-content-center align-items-baseline">
        <%= f.submit '更新する',class:"btn btn-sm btn-orange mt-1" %>
      </div>
      <% end %>
    </div>
  </div>
</div>