
<%#= @stocks.inspect %>
<div class="container pb-5">
  <% if @stock %>
    <%= @stock.errors.count %>件のエラーが発生しました
    <ul>
      <% @stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <!--お買いものリスト&期限一覧はスマホサイズは非表示にしてヘッダーからアクセスさせる-->
    <div class="d-none d-lg-block col-md-4 mt-3 pb-5">
      <%= render 'homes/list_and_limit', lists: @lists, stocks: @stocks_limit %>
    </div>

    <div class="col-md-7 offset-1 pb-5">
      <div class="row justify-content-center mt-3">
        <h3><i class="fas fa-cubes mx-3"></i><%= current_user.name %>家のストック</h3>
        <span class="mx-3"><%= link_to "食材一覧へ",foods_path, class:"btn btn-sm btn-outline-secondary" %></span>
      </div>
      <div class="row mb-2">
        <%= render 'stocks/category_btn', categories: @categories %>
      </div>
      <%= sort_order "limit", "期限順" %>｜
      <%= sort_order "created_at", "登録順"%>
      <table class="table table-hover justify-content-center pb-5">
        <thead>
          <tr>
            <th class="col-3 text-left">食材</th>
            <!--<th class="col-1 text-center">個数/量</th>-->
            <th></th>
            <th class="col-2 text-center">購入日</th>
            <th class="col-2 text-center">賞味期限</th>
            <th class="col-4 text-center">備考欄</th>
            <th class="text-nowrap">編集</th>
            <th class="text-nowrap">削除</th>

          </tr>
        </thead>
        <tbody>
        <% @stocks.each do |stock| %>
        <!--変更済 ブロック変数わかりやすく-->
          <tr>
            <td class="mx-5 text-left">
              <%= link_to stock_path(stock.id) do %>
                <%= stock.food.name %>
              <% end %>
            </td>
            <td class="mx-5"><p>×<%= stock.amount.to_s %></p></td>
            <td class="mx-5"><%= stock.buy_day.strftime('%Y/%m/%d') %></td>
            <td class="mx-5"><%= stock.limit.strftime('%Y/%m/%d') %></td>
            <td class="mx-5 text-left"><%= stock.memo %></td>
            <td>
              <div class="position-relative">
                <%= render "edit_amount_btn", stock: stock %>
              </div>
            </td>
            <td>
              <%= link_to stock_path(stock.id),method: :delete, class:"btn btn-sm btn-secondary", data:{confirm: "#{stock.food.name}を削除しますか？"} do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center pb-5">
        <%= paginate @stocks %>
      </div>

      <div class="row">
        <div class="col-12">
          <%= render 'calendar', stocks: @stocks_calendar %>
        </div>
      </div>

    </div>
  </div>
</div>