
<%#= @stocks.inspect %>
<div class="container pb-5">
  <div class="row  justify-content-center mt-3">
    <h3><%= current_user.name %>家のストック</h3>
    <span class="col-3"><%= link_to "食材一覧へ",foods_path, class:"btn btn-sm btn-outline-secondary" %></span>
  </div>
  <table class="justify-content-center pb-5">
    <thead>
      <tr>
        <th class="col-3 text-left">食材</th>
        <!--<th class="col-1 text-center">個数/量</th>-->
        <th></th>
        <th class="col-2 text-center">購入日</th>
        <th class="col-2 text-center">賞味期限</th>
        <th class="col-4 text-left">備考欄</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @stocks.each do |s| %>
    <!--変更する-->
      <tr>
        <td class="mx-5 text-left"><%= s.food.name %></td>
        <td class="mx-5 pt-3"><p>×<%= s.amount.to_s %></p></td>
        <td class="mx-5 text-center"><%= s.buy_day.strftime('%Y/%m/%d') %></td>
        <td class="mx-5 text-center"><%= s.limit.strftime('%Y/%m/%d') %></td>
        <td class="mx-5 text-left"><%= s.memo %></td>
        <td>

          <%= link_to edit_stock_path(s.id),class:"btn btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </td>
        <td>
          <%= link_to stock_path(s.id),method: :delete, class:"btn btn-sm btn-outline-secondary", data:{confirm: "#{s.food.name}を削除しますか？"} do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>