<div class="container pb-5">
  <div class="row pb-5">
    <h3 class="col-4">ストックの詳細</h3>
    <div class="position-relative offset-2">
      <span class="mx-3"><%= link_to "一覧へ戻る", stocks_path, class:"btn btn-sm btn-outline-secondary" %></span>
      <%= render "edit_amount_btn", stock: @stock %>
    <span>
      <%= link_to stock_path(@stock.id),method: :delete, class:"btn btn-sm btn-secondary ml-3", data:{confirm: "#{@stock.food.name}を削除しますか？"} do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </span>

  </div>
  <table class="mt-3">
    <tr>
      <th class="col-1">ストック食材</th>
      <td class="col-3"><%= @stock.food.name %>　×<%= @stock.amount.to_s %></td>

    </tr>
    <tr>
      <th class="col-1 text-nowrap">ストックのカテゴリ</th>
      <td class="col-3"><%= @stock.category.name %></td>
    </tr>

    <tr>
      <th class="col-1 text-nowrap">購入日</th>
      <td class="col-3"><%= @stock.buy_day %></td>
    </tr>

    <tr>
      <th class="col-1 text-nowrap">期限</th>
      <td class="col-3"><%= @stock.limit %></td>
    </tr>

    <tr>
      <th class="col-1 text-nowrap">備考欄</th>
      <td class="col-3"><%= @stock.memo %></td>
    </tr>

  </table>
</div>
