
<h3><i class="fas fa-clipboard-list mx-3"></i>お買いものリスト</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>食材</th>
      <th></th>
      <th class="text-nowrap text-center">編集</th>
      <th class="text-nowrap text-center">追加</th>
      <th class="text-nowrap text-center">削除</th>
    </tr>
  </thead>
<% lists.each do |list| %>


  <tbody>
    <tr>
      <td class="text-nowrap mx-3 text-left"><%= list.food.name %></td>
      <td><p>×<%= list.amount %></p>

      <td><!--編集-->
        <%= render "lists/edit_amount_btn", list: list %>
      </td>

      <td><!--ストック追加-->
        <%= render "lists/add_stock_btn", list: list %>
        <!--locals: { '部分テンプレート内で使う変数': '変数に入れる値'}  , locals:{ 'model': 'list.food.stocks.build' }-->
      </td>
      <td><!--削除-->
        <%= link_to list_path(list.id),method: :delete, class:"btn btn-sm btn-danger",style:"background-color: #EF8C04; border-color: #EF8C04;", data:{confirm: "#{list.food.name}を削除しますか？"} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>


    </tr>
  </tbody>
<% end %>
</table>
<div class="row pb-3" style="justify-content:flex-end">
  <span class="mx-3"><%= paginate lists %></span>
  <span><%= link_to "もっと見る", lists_path, class:"btn btn-sm btn-outline-secondary" %></span>
</div>
<div class="row mt-3">
  <h3><i class="fas fa-hourglass-half mx-3"></i>期限一覧</h3>
</div>
<div class="row pb-5">
  <%= render 'stocks/limit_index', stocks: stocks %>
  <div class="row pb-3" style="margin-left:auto;">
    <%= link_to "もっと見る", food_limit_path, class:"btn btn-sm btn-outline-secondary" %>
  </div>
</div>
