<div class="container pb-5">
  <div class="row mb-3">
    <font size="5">
      まだ食べられるものを、食べられるうちに使い切ろう。<br>
      <b>Check Stock</b>は、各家庭の食材のストックを適正に保つお手伝いをします！
    </font>
  </div>
  <div class="row">
    <h4 class="mt-3"><strong>使い方</strong></h4>
  </div>
  <div class="row">
    <p>まずは、<%= link_to "食材一覧", foods_path %>から食材を追加しましょう！
      名前とカテゴリを入力して登録します。<br>
      その後、<%= link_to "ストック", stocks_path %>に追加することで
      家にある食材として登録することができます。<br>
      先に食材を追加しておくと
      より便利に使えるようになります！<br>
      </p>
  </div>
  <div class="row">
    <h4 class="mt-3"><strong>活用シーン</strong></h4>
  </div>
  <div class="row pb-5">
    <div class="col-6">
      <%= image_tag 'memo_color.png', width: '300px', height: '225px' %>
      <p class="mt-3">買い物メモを書いたけど、ほかに買い足すものはあったかな？<br>
      そんな時には→<%= link_to "お買い物リスト", lists_path %></p>
    </div>
    <div class="col-6">
      <%= image_tag 'cooking_color.png', width: '300px', height: '225px' %>
      <p class="mt-3">期限の近い食材から調理したい！<br>
      そんな時には→<%= link_to "期限一覧", food_limit_path %></p>
    </div>
    <div class="col-6">
      <%= image_tag 'shopping_man_color.png', width: '250px', height: '225px' %>
      <p class="mt-3">冷蔵庫の中を確認せずに買い物に来ちゃった！<br>
      そんな時には→<%= link_to "ストック一覧", stocks_path %></p>
    </div>
    <div class="col-6">
      <%= image_tag 'cannnotdecide_woman_color.png', width: '140px', height: '225px' %>
      <p class="mt-3">家に残っている食材から今日の献立を考えたいな・・・<br>
      そんな時には→<%= link_to "ストック一覧", stocks_path %></p>
    </div>
  </div>




</div>
