<div class="position-relative">
  <%= link_to "#list_add-item-#{food.id}", class:"btn btn-sm btn-outline-secondary", "data-toggle": "collapse", role: "button", "aria-expanded": "false", "area-controls": "list_add-item-#{food.id}", style: "z-index:1;" do %>
    <i class="fas fa-clipboard-list"></i> 追加
  <% end %>
  <div class="collapse position-absolute" id="list_add-item-<%= food.id %>" style="left:60px; z-index:2;">
    <div class="card card-body">
      <%= form_with(model: food.lists.build, local: true) do |f| %>
        <%= f.hidden_field :food_id %>
      <div class="form-row align-items-baseline">
        <%= f.label :amount, "個数　" %>
        <%= f.number_field :amount , style: "width:50px;" %>
      </div>
      <!--ここから単位-->
      <!--単位終わり-->
      <div class="form-row justify-content-center align-items-baseline">
        <%= f.submit 'お買いものリストへ追加' %>
      </div>
      <% end %>
    </div>
  </div>
</div>