<div class="position-relative">
  <%= link_to "#food_edit-item-#{food.id}", class:"btn btn-sm btn-outline-secondary", "data-toggle": "collapse", role: "button", "aria-expanded": "false", "area-controls": "food_edit-item-#{food.id}", style: "z-index:3;" do %>
    <i class="fas fa-edit"></i>
  <% end %>
<div class="collapse position-absolute" id="food_edit-item-<%= food.id %>" style="z-index:2;">
  <!--idをボタンごとに変えないと押していないところでも動いてしまう-->
    <div class="card card-body">
      <%= form_with model: food, method: :patch,local: true do |f| %>
      <div class="form-row align-items-baseline">
        <%= f.label :name, "食材名" %>
        <%= f.text_field :name, autocomplete: "name",placeholder: '食材名を入力' %>
      </div>
      <div class="form-row align-items-baseline">
        <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "-- カテゴリを選択 --" %>
      </div>
      <!--ここから単位-->
      <!--単位終わり-->
        <%= f.submit "編集内容を登録",class:"btn btn-sm btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>