<div class="container pb-5">

  <div class="row"><!--全体を囲み横並びにするrow-->
    <!--お買いものリスト＆期限の部分テンプレート-->
    <div class="col-4 mt-3 pb-5">
      <%= render 'homes/list_and_limit', lists: @lists,  list: @list, stocks: @stocks, stock: @stock %>
    </div>

    <div class="col-7 offset-1  pb-5"><!--追加した-->
    <div>
      <div class="row justify-content-center mt-3">
        <h3 class="text-center"><i class="fas fa-carrot mx-3"></i>食材一覧</h3>
        <span class="mx-3"><%= link_to "ストック一覧へ",stocks_path, class:"btn btn-sm btn-outline-secondary" %></span>
      </div>
      <div class="row justify-content-center">
        <p class="text-center ">食材名をクリックすると詳細・編集画面へ 追加はページ下部</p>
      </div>
      <div class="row justify-content-center mb-2">
        <%= render 'categories/btn', categories: @categories %>
      </div>
      <div class="row justify-content-center pb-5">
        <table class="table table-hover justify-content-center mx-5 pb-5">
          <tr>
            <th></th>
            <th>食材</th>
            <th class="text-center">ストックへ</th>
            <th class="text-center">お買いものリストへ</th>
            <th>削除</th>
          </tr>
          <% @foods.each do |food| %>
            <tbody>
            <tr>
              <td id="like_btn_<%= food.id %>">
                <%= render "likes/btn", food: food %>
              </td>
              <td>
                <%= link_to food_path(food.id) do %>
                  <%= food.name %>
                <% end %>
                <p class="col-1 text-nowrap">在庫:<%= food.stocks.any? ? "○" : "×" %></p>
              </td>
              <td class="text-center">
                <%= render "foods/add_stock_btn", food: food %>
              </td>
              <td class="text-center">
                <%= render "foods/add_list_btn", food: food %>
              </td>
              <td>
                <%= link_to food_path(food.id),method: :delete, class:"btn btn-sm btn-danger", data:{confirm: "#{food.name}を削除しますか？"} do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <%= paginate @foods %>
      </div>
    </div>
    <div class="row justify-content-center">
        <h3 class="text-right pb-3"><i class="fas fa-plus mx-3"></i>食材・カテゴリの追加</h3>
      </div>
      <div class="row justify-content-center">
          <div class="col-4 text-center mt-3 pb-3">
            <h4><i class="fas fa-carrot mr-1"></i>食材の追加</h4>
            <%= render 'foods/form', food: @food_new %>
          </div>
        <!--category-->
        <div class="col-4 text-center mt-3 pb-3">
          <div class="pb-3">
            <h4 class="text-nowrap"><i class="fas fa-align-justify mr-1"></i>カテゴリの追加</h4>
            <%= render 'categories/form', category: @category_new %>
          </div>
        </div>
        <!--category-->
      </div>
  </div>
  </div>
</div><!--全体のrow-->
