<div class="container pb-5">
  <div class="row justify-content-center ">

    <div class="mt-3 pb-5">
      <h3 class="text-center pb-3">食材一覧・追加</h3>
        <div class="pb-3">
          <h4 class="text-center">食材の追加</h4>
          <%= form_with model: @food, url: foods_path, local:true do |f| %>
            <%= f.text_field :name, autocomplete: "name",placeholder: '食材名を入力' %>
            <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "-- カテゴリを選択 --" %>
            <%= f.submit "食材を登録",class:"btn btn-sm btn-outline-secondary" %>
          <% end %>
        </div>
        <div>
          <h4 class="text-center mt-3">食材一覧</h4>
          <p class="text-center ">食材名をクリックすると詳細・編集画面へ</p>
          <% @foods.each do |food| %>
            <table>
              <tbody>
                <tr>
                  <td id="like_btn_<%= food.id %>">
                    <%= render "likes/btn", food: food %>
                  </td>
                  <td>
                    <%= link_to food_path(food.id) do %>
                      <%= food.name %>
                    <% end %>
                    在庫:<%= food.stocks.any? ? "○" : "×" %>
                  </td>
                  <td>
                    <%= link_to "ストックに追加", "#stock_item-#{food.id}", class:"btn btn-sm btn-outline-secondary", "data-toggle": "collapse", role: "button", "aria-expanded": "false", "area-controls": "stock_item-#{food.id}" %>
                    <div class="collapse" id="stock_item-<%= food.id %>">
                      <div class="card card-body">
                        <%= form_with(model: food.stocks.build, local: true) do |f| %>
                        <!--↑アソシエーションの記述があればbuildで作れる-->
                          <%= f.hidden_field :food_id %>
                          <%= f.number_field :amount, size:"5" %>
                        <!--ここから単位-->
                          <%= f.radio_button :unit, "ko" %>
                          <%= f.label :unit_ko, "個" %>
                          <%= f.radio_button :unit, "hon" %>
                          <%= f.label :unit_hon, "本" %>
                          <%= f.radio_button :unit, "fukuro" %>
                          <%= f.label :unit_fukuro, "袋" %>
                          <%= f.radio_button :unit, "tama" %>
                          <%= f.label :unit_tama, "玉" %>
                          <%= f.radio_button :unit, "mai" %>
                          <%= f.label :unit_mai, "枚" %>
                        <!--単位終わり-->
                          <%= f.date_field :buy_day %>
                          <%= f.date_field :limit %>
                          <%= f.text_area :memo,placeholder: '備考欄' %>
                          <%= f.submit %>
                        <% end %>
                      </div>
                    </div>
                  </td>
                  <td>
                    <%= link_to "お買いものリストに追加", "#list_item-#{food.id}", class:"btn btn-sm btn-outline-secondary", "data-toggle": "collapse", role: "button", "aria-expanded": "false", "area-controls": "list_item-#{food.id}" %>
                    <div class="collapse" id="list_item-<%= food.id %>">
                      <div class="card card-body">
                        <%= form_with(model: food.lists.build, local: true) do |f| %>
                          <%= f.hidden_field :food_id %>
                          <%= f.number_field :amount, size:"5" %>
                        <!--ここから単位-->
                          <%= f.radio_button :unit, "ko" %>
                          <%= f.label :unit_ko, "個" %>
                          <%= f.radio_button :unit, "hon" %>
                          <%= f.label :unit_hon, "本" %>
                          <%= f.radio_button :unit, "fukuro" %>
                          <%= f.label :unit_fukuro, "袋" %>
                          <%= f.radio_button :unit, "tama" %>
                          <%= f.label :unit_tama, "玉" %>
                          <%= f.radio_button :unit, "mai" %>
                          <%= f.label :unit_mai, "枚" %>
                        <!--単位終わり-->
                          <%= f.submit %>
                        <% end %>
                      </div>
                    </div>
                  </td>
                  <td>
                    <%= link_to food_path(food.id),method: :delete, class:"btn btn-sm btn-outline-secondary", data:{confirm: "#{food.name}を削除しますか？"} do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          <% end %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mt-3 pb-5">
      <h3>お買いものリスト</h3>
      <table>
      <% @lists.each do |l| %>
        <tbody>
          <tr>
            <td><%= l.food.name %></td>
            <td><%= l.amount %></td>
            <td>
              <%#= link_to "編集", "#list_item-#{food.id}", class:"btn btn-sm btn-outline-secondary", "data-toggle": "collapse", role: "button", "aria-expanded": "false", "area-controls": "list_item-#{food.id}" %>
              <!--<div class="collapse" id="list_item-<%#= food.id %>">-->
                <!--<div class="card card-body">-->
                  <%#= form_with(model: list, method: :patch,local: true) do |f| %>
                    <%#= f.hidden_field :food_id %>
                    <%#= f.number_field :amount, size:"5" %>
                  <!--ここから単位-->
                    <%#= f.radio_button :unit, "ko" %>
                    <%#= f.label :unit_ko, "個" %>
                    <%#= f.radio_button :unit, "hon" %>
                    <%#= f.label :unit_hon, "本" %>
                    <%#= f.radio_button :unit, "fukuro" %>
                    <%#= f.label :unit_fukuro, "袋" %>
                    <%#= f.radio_button :unit, "tama" %>
                    <%#= f.label :unit_tama, "玉" %>
                    <%#= f.radio_button :unit, "mai" %>
                    <%#= f.label :unit_mai, "枚" %>
                  <!--単位終わり-->
                    <%#= f.submit %>
                  <%# end %>
                <!--</div>-->
              <!--</div>-->
            </td>
            <td>
              <%#= link_to list_path(list.id),method: :delete, class:"btn btn-sm btn-outline-secondary", data:{confirm: "#{list.food.name}を削除しますか？"} do %>
                <!--<i class="fas fa-trash-alt"></i>-->
              <%# end %>
            </td>
          </tr>
        </tbody>
      <% end %>
      </table>
      <div class="row">
        <%= link_to "もっと見る", lists_path, class:"btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
    <div class="col-6 mt-3 pb-5">
      <h3>期限が間近の食材</h3>
    </div>
  </div>
</div>
