<div class="container pb-5">
  <div class="row">
    <div class="col-3 mt-3">
      <h3>お買いものリスト</h3>
    </div>
    <div class="col-6 mt-3">
      <h3>食材一覧・追加</h3>
        <div>
          <h4>食材の追加</h4>
          <%= form_with model: @food, url: foods_path, local:true do |f| %>
            <%= f.text_field :name, autocomplete: "name",placeholder: '食材名を入力' %>
            <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "-- カテゴリを選択 --" %>
            <%= f.submit "食材を登録",class:"btn btn-sm btn-outline-secondary" %>
          <% end %>
        </div>
        <div>
          <h4>食材一覧</h4>
          <p>食材名をクリックすると<br>詳細・編集画面へ</p>
          <% @foods.each do |food| %>
            <table>
              <tbody>
                <tr>
                  <td><%= food.name %></td>
                  <td>ストックに追加</td>
                  <td><%= link_to "削除", food_path(food.id),method: :delete, class:"btn btn-sm btn-outline-secondary", data:{confirm: "食材を削除しますか？"} %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        </div>
    </div>
    <div class="col-3 mt-3">
      <h3>期限が間近の食材</h3>
    </div>
  </div>
  <div class="row">


  </div>
</div>
