<div class="container pb-5">
  <div class="row justify-content-center ">

    <div class="col-4 mt-3 pb-5">
    <h3 class="text-center pb-3">食材一覧・追加</h3>
      <div class="pb-3">
        <h4 class="text-center">食材の追加</h4>
        <%= render 'foods/form', food: @food %>
      </div>
    </div>

        <!--category-->
    <div class="col-4 text-center mt-3 pb-3">
    <h3 class="text-center pb-3">カテゴリ一覧・追加</h3>
      <div class="pb-3">
        <h4 class="text-center">カテゴリの追加</h4>
        <%= render 'categories/form', category: @category %>
      </div>
    </div>
        <!--category-->
  </div>

  <div>
    <div class="row justify-content-center">
      <h4 class="text-center mt-3">食材一覧</h4>
    </div>
    <div class="row justify-content-center">
      <p class="text-center ">食材名をクリックすると詳細・編集画面へ</p>
    </div>
    <div class="row justify-content-center pb-5">
      <table>
        <% @foods.each do |food| %>
          <tbody>
          <tr>
            <td id="like_btn_<%= food.id %>",class="col-1">
              <%= render "likes/btn", food: food %>
            </td>
            <td class="col-3">
              <%= link_to food_path(food.id) do %>
                <%= food.name %>
              <% end %>
              <p class="col-1">在庫:<%= food.stocks.any? ? "○" : "×" %></p>
            </td>
            <td class="col-3">
              <%= link_to "ストックに追加", "#stock_item-#{food.id}", class:"btn btn-sm btn-outline-secondary", "data-toggle": "collapse", role: "button", "aria-expanded": "false", "area-controls": "stock_item-#{food.id}" %>
              <div class="collapse" id="stock_item-<%= food.id %>">
                <div class="card card-body">
                  <%= form_with(model: food.stocks.build, local: true) do |f| %>
                  <!--↑アソシエーションの記述があればbuildで作れる-->
                    <%= f.hidden_field :food_id %>
                    <%= f.number_field :amount, size:"5" %>
                  <!--ここから単位-->
                    <%= f.radio_button :unit, "ko" %>
                    <%= f.label :unit_ko, "個" %>
                    <%= f.radio_button :unit, "hon" %>
                    <%= f.label :unit_hon, "本" %>
                    <%= f.radio_button :unit, "fukuro" %>
                    <%= f.label :unit_fukuro, "袋" %>
                    <%= f.radio_button :unit, "tama" %>
                    <%= f.label :unit_tama, "玉" %>
                    <%= f.radio_button :unit, "mai" %>
                    <%= f.label :unit_mai, "枚" %>
                  <!--単位終わり-->
                    <%= f.date_field :buy_day %>
                    <%= f.date_field :limit %>
                    <%= f.text_area :memo,placeholder: '備考欄' %>
                    <%= f.submit %>
                  <% end %>
                </div>
              </div>
            </td>
            <td class="col-4">
              <%= link_to "お買いものリストに追加", "#list_item-#{food.id}", class:"btn btn-sm btn-outline-secondary", "data-toggle": "collapse", role: "button", "aria-expanded": "false", "area-controls": "list_item-#{food.id}" %>
              <div class="collapse" id="list_item-<%= food.id %>">
                <div class="card card-body">
                  <%= form_with(model: food.lists.build, local: true) do |f| %>
                    <%= f.hidden_field :food_id %>
                    <%= f.number_field :amount, size:"5" %>
                  <!--ここから単位-->
                    <%= f.radio_button :unit, "ko" %>
                    <%= f.label :unit_ko, "個" %>
                    <%= f.radio_button :unit, "hon" %>
                    <%= f.label :unit_hon, "本" %>
                    <%= f.radio_button :unit, "fukuro" %>
                    <%= f.label :unit_fukuro, "袋" %>
                    <%= f.radio_button :unit, "tama" %>
                    <%= f.label :unit_tama, "玉" %>
                    <%= f.radio_button :unit, "mai" %>
                    <%= f.label :unit_mai, "枚" %>
                  <!--単位終わり-->
                    <%= f.submit %>
                  <% end %>
                </div>
              </div>
            </td>
            <td class="col-1">
              <%= link_to food_path(food.id),method: :delete, class:"btn btn-sm btn-outline-secondary", data:{confirm: "#{food.name}を削除しますか？"} do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-5 mt-3 pb-5">
      <h3>お買いものリスト</h3>
      <table>
      <% @lists.each do |l| %>
        <tbody>
          <tr>
            <td><%= l.food.name %></td>
            <td class="position-absolute"><p>×<%= l.amount %></p>
            <td>
              <%#= link_to "編集", "#list_item-#{food.id}", class:"btn btn-sm btn-outline-secondary", "data-toggle": "collapse", role: "button", "aria-expanded": "false", "area-controls": "list_item-#{food.id}" %>
              <!--<div class="collapse" id="list_item-<%#= food.id %>">-->
                <!--<div class="card card-body">-->
                  <%#= form_with(model: list, method: :patch,local: true) do |f| %>
                    <%#= f.hidden_field :food_id %>
                    <%#= f.number_field :amount, size:"5" %>
                  <!--ここから単位-->
                    <%#= f.radio_button :unit, "ko" %>
                    <%#= f.label :unit_ko, "個" %>
                    <%#= f.radio_button :unit, "hon" %>
                    <%#= f.label :unit_hon, "本" %>
                    <%#= f.radio_button :unit, "fukuro" %>
                    <%#= f.label :unit_fukuro, "袋" %>
                    <%#= f.radio_button :unit, "tama" %>
                    <%#= f.label :unit_tama, "玉" %>
                    <%#= f.radio_button :unit, "mai" %>
                    <%#= f.label :unit_mai, "枚" %>
                  <!--単位終わり-->
                    <%#= f.submit %>
                  <%# end %>
                <!--</div>-->
              <!--</div>-->
            </td>
            <td>
              <%#= link_to list_path(list.id),method: :delete, class:"btn btn-sm btn-outline-secondary", data:{confirm: "#{list.food.name}を削除しますか？"} do %>
                <!--<i class="fas fa-trash-alt"></i>-->
              <%# end %>
            </td>
          </tr>
        </tbody>
      <% end %>
      </table>
      <div class="row">
        <%= link_to "もっと見る", lists_path, class:"btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
    <div class="col-5 mt-3 pb-5">
      <h3>期限が間近の食材</h3>
      <tbody>
      <% @stocks.each do |s| %>
      <%# binding.pry %>
        <%# if s.limit - Time.current =< 14 %>
          <tr>
            <td><%= s.food.name %></td>
            <td><span> あと<%= (s.limit - Time.zone.today).to_i %> 日</span></td>
          </tr>
        <%# elsif s.limit - Time.current >= 14 %>
          <tr>
            <td><%= s.food.name %></td>
            <td><span> 期限まであと２週間以上あります</span></td>
          </tr>
        <%# else %>
          <tr>
            <td><%= s.food.name %></td>
            <td><span> 期限を過ぎています</span></td>
          </tr>
        <%# end %>
      <% end %>
      </tbody>
    </div>
  </div>
</div>
